
@mixin multilineEllipsis($lineHeight: 1.2em, $lineCount: 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lineCount;
    line-height: $lineHeight;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
}

.action-sheet-button {
    &.publish {
        color: blue;
    }
    &.delete {
        color: red;
    }
}

ion-navbar {
    ion-buttons[end] {
        transition: all 300ms linear;
        &.ng-enter {
            opacity: 0.5;
            transform: translateX(-100vw);
        }
        &.ng-enter-active {
            opacity: 1;
            transform: none;
        }
        &.ng-leave-active {
            opacity: 0.5;
            transform: translateX(-100vw);
        }
    }
}
