.reports_list {
    .spinner {
        display: flex;
        justify-content: center;
    }
    .item {
        ion-thumbnail img {
            max-width: 12rem;
            max-height: 12rem;
        }
        .item-inner {
            align-items: flex-start;
            .item-comment {
                margin-top: 1rem;
                @include multilineEllipsis($lineCount: 3);
            }
            .item-desc {
                margin-top: 1rem;
                @include multilineEllipsis($lineCount: 2);
            }
        }
    }
}
