<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Journal</ion-title>
    <ion-buttons end>
        <button favorite (click)="addNew()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content padding class="reports_list">

    <div class="spinner" *ngIf="!isReady">
        <ion-spinner></ion-spinner>
    </div>
    <div class="ng-animate empty" *ngIf="isReady && reports.length < 1">
        <button favorite large round (click)="addNew()">
            Add first journal now !
        </button>
    </div>

    <ion-refresher (refresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button ion-item class="item" *ngFor="#item of reports" (click)="goReport(item)">
            <ion-thumbnail item-left>
                <img [src]="item.leaves[0].photo(urlGenerator).reduced.thumbnail.url" />
            </ion-thumbnail>
            <fathens-rating [value]="item.rating"></fathens-rating>
            <p class="item-comment">{{ item.comment }}</p>
            <h3 class="item-desc">{{ item.leaves[0].description }}</h3>
        </button>
    </ion-list>
    <ion-infinite-scroll (infinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
