.reports_list {
    .spinner {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    .empty {
        margin-top: 20vh;
        display: flex;
        justify-content: center;

        transition: all 200ms linear;
        &.ng-enter {
            opacity: 0;
            transform: translateY(-20vh);
        }
        &.ng-enter-active {
            opacity: 1;
            transform: translateY(0);
        }
        &.ng-leave-active {
            opacity: 0;
            transform: translateY(-20vh);
        }
    }

    .item {
        ion-thumbnail {
            img {
                margin: auto;
            }
        }
        .item-inner {
            align-items: flex-start;

            .item-header {
                display: flex;
                justify-content: space-between;
                .item-date {
                    font-weight: $custom-font-weight-normal;
                }
            }
            .item-comment {
                margin-top: 1rem;
                @include multilineEllipsis($lineCount: 3);
            }
            .item-desc {
                margin-top: 1rem;
                font-weight: lighter;
                @include multilineEllipsis($lineCount: 2);
            }
        }
    }
}
