.reports_list {
    .spinner {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    .empty {
        margin-top: 20vh;
        display: flex;
        justify-content: center;

        transition: all 200ms linear;
        &.ng-enter {
            opacity: 0;
            transform: translateY(-20vh);
        }
        &.ng-enter-active {
            opacity: 1;
            transform: translateY(0);
        }
        &.ng-leave-active {
            opacity: 0;
            transform: translateY(-20vh);
        }
    }

    .item {
        ion-thumbnail img {
            max-width: 12rem;
            max-height: 12rem;
        }
        .item-inner {
            align-items: flex-start;
            .item-comment {
                margin-top: 1rem;
                @include multilineEllipsis($lineCount: 3);
            }
            .item-desc {
                margin-top: 1rem;
                @include multilineEllipsis($lineCount: 2);
            }
        }
    }
}
