.publish {
    .message {
        padding: 1rem;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }

    ion-slides {
        margin-top: 2rem;
        height: 100vw;
    }
}
