.fathens-suggestions {
    &>h4 {
        padding-left: 1rem;
        color: orange;
    }

    .products {
        display: flex;
        overflow-x: scroll;

        ion-list {
            display: flex;
            flex-shrink: 0;

            .product {
                width: 60vw;
                align-items: flex-start;

                .image {
                    margin-right: 0;
                }

                .title {
                    @include multilineEllipsis($lineCount: 3);
                }
                .price {
                    margin-top: 0.8rem;
                    font-size: 1.2rem;
                    font-style: italic;
                }
            }
        }

        .spinner {
            display: flex;
            flex-shrink: 0;
        }
    }
}
