<div class="fathens-suggestions" *ngIf="isReady">
    <h4>Suggestions for you ...</h4>
    <div class="products" (scroll)="onScroll($event)">
        <ion-list no-lines>
            <ion-item class="product" *ngFor="#product of products.list" (click)="open(product)">
                <ion-thumbnail item-left class="image">
                    <img [src]="product.imageUrl" />
                </ion-thumbnail>
                <p class="title">{{ product.title }}</p>
                <p class="price">{{ product.price }}</p>
            </ion-item>
        </ion-list>
        <div class="spinner" *ngIf="isLoading">
            <ion-spinner></ion-spinner>
        </div>
    </div>
</div>
