<div class="fathens-showcase">
    <ion-slides [options]="swiperOptions">
        <ion-slide class="leaves" *ngFor="#leaf of leaves; #i = index">
            <div class="floating">
                <button danger fab class="delete" (click)="deletePhoto(i)">
                    <ion-icon name="close"></ion-icon>
                </button>
                <button clear class="arrow swiper-button-prev" (click)="slidePrev()" *ngIf="i > 0">
                </button>
                <button clear class="arrow swiper-button-next" (click)="slideNext()">
                </button>
            </div>
            <div class="deletable">
                <img [src]="leaf.photo.reduced.mainview.url" />
                <ion-item>
                    <ion-textarea placeholder="NO TEXT" [(ngModel)]="leaf.description"></ion-textarea>
                </ion-item>
            </div>
        </ion-slide>
        <ion-slide class="empty">
            <div class="floating">
                <button clear class="arrow swiper-button-prev" (click)="slidePrev()" *ngIf="leaves.length > 0">
                </button>
            </div>
            <button favorite round large class="photo" (click)="addPhoto()">
                <ion-icon name="add"></ion-icon>
                PHOTO
            </button>
        </ion-slide>
    </ion-slides>
</div>
