.fathens-showcase {
    display: block;
    ion-slide {
        .floating button {
            position: absolute;
            opacity: 0.8;
            &.delete {
                top: 0;
                right: 0;
            }
            &.arrow {
                top: 20vh;
                &.swiper-button-prev {
                    left: 0;
                }
                &.swiper-button-next {
                    right: 0;
                }
            }
        }
        &.leaves {
            position: relative;
            img {
                max-width: 100vw;
                max-height: 100vw;
            }
        }
        &.empty {
            height: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightgray;
        }
    }
}
