.fathens-showcase {
    display: block;
    ion-slide {
        margin-top: 20px;
        &.leaves {
            img {
                max-width: 100vw;
                max-height: 100vw;
            }
        }
        &.empty {
            height: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: lightgray;
        }
    }
    .swiper-pagination {
        top: 0;
        bottom: auto;
    }
}
