<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detail</ion-title>
    <ion-buttons end>
        <button secondary (click)="showMore()">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content padding class="report_detail">
    <fathens-rating [value]="report.rating" (changed)="report.rating = $event"></fathens-rating>
    <ion-item>
        <ion-textarea placeholder="Your impressions ..." [(ngModel)]="report.comment"></ion-textarea>
    </ion-item>
    <div class="suggestions" *ngIf="products">
        <h4>Suggestions for you ...</h4>
        <div class="products">
            <ion-list no-lines>
                <button ion-item class="product" *ngFor="#product of products.list" (click)="openSuggestion(product)">
                    <ion-thumbnail item-left class="image">
                        <img [src]="product.imageUrl" />
                    </ion-thumbnail>
                    <p class="title">{{ product.title }}</p>
                    <p class="price">{{ product.price }}</p>
                </button>
            </ion-list>
            <ion-infinite-scroll (infinite)="moreSuggestions($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
    <fathens-showcase [reportId]="report.id()" [leaves]="report.leaves" (update)="updateLeaves()"></fathens-showcase>
</ion-content>
